@model GRA.Controllers.ViewModel.Shared.DisplayNotificationsViewModel

<div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="alert alert-success">
            
                @foreach (var notification in Model.Notifications)
                {
                    @Html.Raw(notification.Text)
                    <br />
                }
                
            
            @if (Model.TruncatedList)
            {
                <span>and more</span>

            }
            @if (Model.Notifications.Count > 1)
            {
                <span>for a total of <strong>@Model.TotalPointsEarned points earned!</strong></span>
            }
        </div>
    </div>
</div>