
<div class="row row-spacing">
    <div class="col-sm-2">
        <a asp-controller="Home" asp-action="LoadSampleData" class="btn btn-warning">Insert sample data</a>
    </div>
    <div class="col-sm-2">
        <a asp-action="CreateVendorCodes" class="btn btn-warning">Create vendor codes</a>
    </div>
</div>