@model GRA.Controllers.ViewModel.MissionControl.Drawing.DrawingNewViewModel

<form asp-controller="Drawing" asp-action="New" method="post" role="form">
    <div class="row" style="padding: 10px 0;">
        <div class="col-xs-12">
            <label asp-for="Drawing.Name" class="control-label"></label>
            <input asp-for="Drawing.Name" class="form-control" />
            <span asp-validation-for="Drawing.Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Drawing.DrawingCriterionId" class="control-label"></label>
            <select asp-for="Drawing.DrawingCriterionId" asp-items="Model.CriterionList" class="form-control">
                <option></option>
            </select>
            <span asp-validation-for="Drawing.DrawingCriterionId" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Drawing.WinnerCount" class="control-label"></label>
            <input asp-for="Drawing.WinnerCount" min="1" class="form-control" />
            <span asp-validation-for="Drawing.WinnerCount" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Drawing.RedemptionInstructions" class="control-label"></label>
            <textarea asp-for="Drawing.RedemptionInstructions" class="form-control"></textarea>
            <span asp-validation-for="Drawing.RedemptionInstructions" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Drawing.NotificationSubject" class="control-label"></label>
            <input asp-for="Drawing.NotificationSubject" class="form-control" />
            <span asp-validation-for="Drawing.NotificationSubject" class="text-danger"></span>
        </div>
    </div>

    <div class="row row-spacing">
        <div class="col-xs-12">
            <label asp-for="Drawing.NotificationMessage" class="control-label"></label>
            <textarea asp-for="Drawing.NotificationMessage" class="form-control"></textarea>
            <span asp-validation-for="Drawing.NotificationMessage" class="text-danger"></span>
        </div>
    </div>    

    <div class="form-group">
        <a asp-action="Index" class="btn btn-default">Return to Drawing List</a>
        <button type="submit" id="Submit" name="Submit" value="Submit" class="btn btn-success">
            <span class="buttonText">Draw!</span>
            <span class="fa fa-spinner fa-pulse fa-lg fa-fw hidden"></span>
        </button>
    </div>
</form>